<div class="row g-0">
    <div class="col-lg-6 order-last order-lg-first">
        <div class="bg-secondary position-relative overflow-hidden" [style.height]="videoHeight + 'px'">
            <video class="d-block w-100" [style.height]="videoHeight + 'px'" #remoteVideo></video>
            <canvas class="position-absolute left-top" #canvas></canvas>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative show-on-hover-parent" [style.height]="videoHeight + 'px'" style="background-color: #000;">
            <video class="d-block w-100" [style.height]="videoHeight + 'px'" #myVideo></video>
            <div class="position-absolute left-top w-100 h-100 show-on-hover show-on-hover-bg">
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3 text-white">
                                <label class="input-group-text bg-transparent border-0" for="selectDeviceCamera">
                                    <i-tabler name="device-computer-camera" style="color: white;" title="Camera"></i-tabler>
                                </label>
                                <select class="form-select form-select-lg rounded" id="selectDeviceCamera"
                                        [ngModel]="videoInputDeviceCurrent$ | async"
                                        (change)="onDeviceChange('videoinput', $event)">
                                    <option [value]="device.deviceId" *ngFor="let device of devices$ | async | filter: {kind: 'videoinput'}">
                                        {{ device.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <label class="input-group-text bg-transparent border-0" for="selectDeviceMicrophone">
                                    <i-tabler name="microphone" style="color: white;" title="Microphone"></i-tabler>
                                </label>
                                <select class="form-select form-select-lg rounded" id="selectDeviceMicrophone"
                                        [ngModel]="audioInputDeviceCurrent$ | async"
                                        (change)="onDeviceChange('audioinput', $event)">
                                    <option [value]="device.deviceId" *ngFor="let device of devices$ | async | filter: {kind: 'audioinput'}">
                                        {{ device.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row g-0">
    <div class="col-lg-6 pt-3">

        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-primary btn-lg d-block w-100 fs-2 py-5"
                            [disabled]="!(readyToConnectState$ | async) || !(remotePeerConnectedState$ | async) && (connectedState$ | async)"
                            (click)="rouletteStart()">
                        <div class="btn-animation">
                            <div class="btn-animation-icon"><i-tabler name="arrow-big-left" class="icon-big"></i-tabler></div>
                            <span class="btn-animation-label" *ngIf="!(connectedState$ | async)">Start</span>
                            <span class="btn-animation-label" *ngIf="connectedState$ | async">Next</span>
                        </div>
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-lg d-block w-100 fs-2 py-5 show-on-hover-parent"
                            [disabled]="!(connectedState$ | async)"
                            (click)="rouletteStop()">
                        <div class="btn-animation">
                            <div class="btn-animation-icon"><i-tabler name="hand-stop" class="icon-big"></i-tabler></div>
                            <span class="btn-animation-label">Stop</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary btn-lg d-block w-100 fs-4">
                        <span class="fs-5">Country:</span> All
                        <i-tabler name="chevron-up"></i-tabler>
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary btn-lg d-block w-100 fs-4">
                        <span class="fs-5">Purpose:</span> Dating
                        <i-tabler name="chevron-up"></i-tabler>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6 mb-3">

        <div class="card mb-3 shadow-sm rounded-0">
            <div class="card-body app-message-container">
                <ng-container *ngFor="let msg of messages$ | async">
                    <div [class.text-end]="msg.type === 'answer'">
                        <div class="card d-inline-block border-0 rounded-pill mb-3"
                             [ngClass]="{'bg-info round-0-top-right': msg.type === 'answer', 'bg-primary text-white round-0-top-left': msg.type === 'question'}">
                            <div class="card-body">
                                <div class="card-text">{{ msg.message }}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row g-2">
                <div class="col-10">
                    <input type="text" class="form-control shadow-sm" placeholder="Enter your message"
                           [disabled]="!(remotePeerConnectedState$ | async)"
                           (keyup)="onMessageFieldKeyUp($event)"
                           #messageField>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-info d-block w-100"
                            [disabled]="!(remotePeerConnectedState$ | async)"
                            (click)="sendMessage(messageField)">
                        Send
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>


