<div class="row g-0">
    <div class="col-lg-6 order-last order-lg-first">
        <div class="position-relative overflow-hidden bg-black border" [style.height]="videoHeight + 'px'">
            <video class="d-block w-100" [style.height]="videoHeight + 'px'" #remoteVideo></video>
            <canvas class="position-absolute left-top" #canvas></canvas>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative show-on-hover-parent bg-black border" [style.height]="videoHeight + 'px'">
            <video class="d-block w-100" [style.height]="videoHeight + 'px'" muted #myVideo></video>
            <div class="position-absolute left-top w-100 h-100 show-on-hover show-on-hover-bg">
                <div class="position-absolute right-top p-4">
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary rounded"
                                aria-controls="dropdown-basic">
                            <i-tabler name="menu-2" class="icon-big"></i-tabler>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                            role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="/">English</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="/fr/">French</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="/ru/">Russian</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="/ua/">Ukrainian</a></li>
                        </ul>
                    </div>
                </div>
                <div class="position-absolute left-bottom p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3 text-white">
                                <label class="input-group-text bg-transparent border-0" for="selectDeviceCamera">
                                    <i-tabler name="device-computer-camera" style="color: white;" title="Camera"></i-tabler>
                                </label>
                                <select class="form-select form-select-lg rounded" id="selectDeviceCamera"
                                        [ngModel]="videoInputDeviceCurrent$ | async"
                                        (change)="onDeviceChange('videoinput', $event)">
                                    <option [value]="device.deviceId" *ngFor="let device of devices$ | async | filter: {kind: 'videoinput'}">
                                        {{ device.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <label class="input-group-text bg-transparent border-0" for="selectDeviceMicrophone">
                                    <i-tabler name="microphone" style="color: white;" title="Microphone"></i-tabler>
                                </label>
                                <select class="form-select form-select-lg rounded" id="selectDeviceMicrophone"
                                        [ngModel]="audioInputDeviceCurrent$ | async"
                                        (change)="onDeviceChange('audioinput', $event)">
                                    <option [value]="device.deviceId" *ngFor="let device of devices$ | async | filter: {kind: 'audioinput'}">
                                        {{ device.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row g-0">
    <div class="col-lg-6 pt-3">

        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-primary btn-lg d-block w-100 fs-2 py-5 px-0"
                            [disabled]="!(readyToConnectState$ | async) || !(remotePeerConnectedState$ | async) && (connectedState$ | async)"
                            (click)="rouletteStart()">
                        <div class="btn-animation">
                            <div class="btn-animation-icon"><i-tabler name="arrow-big-left" class="icon-big"></i-tabler></div>
                            <span class="btn-animation-label" *ngIf="!(connectedState$ | async)" i18n>Start</span>
                            <span class="btn-animation-label" *ngIf="connectedState$ | async" i18n>Next</span>
                        </div>
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-lg d-block w-100 fs-2 py-5 px-0 show-on-hover-parent"
                            [disabled]="!(connectedState$ | async)"
                            (click)="rouletteStop()">
                        <div class="btn-animation">
                            <div class="btn-animation-icon"><i-tabler name="hand-stop" class="icon-big"></i-tabler></div>
                            <span class="btn-animation-label" i18n>Stop</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary btn-options-panel btn-options-panel-left btn-lg d-block w-100 px-0"
                        [ngClass]="{'active': optionsPanelOpened === 'left'}"
                        (click)="optionsPanelToggle('left')">
                        <span class="fs-6 me-2" i18n>Country:</span>
                        <span class="fs-5 me-2 f32" [title]="currentCountryName">
                            <span class="align-middle flag" [ngClass]="countryCode$ | async | lowercase"></span>
                        </span>
                        <i-tabler name="chevron-up"></i-tabler>
                    </button>
                    <div class="card options-panel position-absolute shadow-sm" *ngIf="optionsPanelOpened === 'left'">
                        <div class="card-body p-5">
                            <div class="row mb-3">
                                <div class="col-md-5">
                                    <h3 i18n>Country</h3>
                                </div>
                                <div class="col-md-7">
                                    <div>
                                        <input type="text" class="form-control" i18n-placeholder placeholder="Search..." [(ngModel)]="countrySearchTerm">
                                    </div>
                                </div>
                            </div>
                            <div class="options-panel-body">
                                <form action="" method="post">
                                    <div class="form-radio-button" *ngFor="let country of countries | filterItems : 'name' : countrySearchTerm | sortSelected: 'name' : currentCountryName">
                                        <input type="radio" name="purpose" id="field-radio-country-{{ country.code }}"
                                               [value]="country.code"
                                               [ngModel]="countryCode$ | async"
                                               (click)="setOptions('country', country.code)">
                                        <label class="f32" for="field-radio-country-{{ country.code }}">
                                            <span class="align-middle flag me-2" [ngClass]="country.code | lowercase"></span>
                                            {{ country.name }}
                                        </label>
                                        <div class="check"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary btn-options-panel btn-options-panel-right btn-lg d-block w-100 px-0"
                        [ngClass]="{'active': optionsPanelOpened === 'right'}"
                        (click)="optionsPanelToggle('right')">
                        <span class="fs-6 me-2" i18n>Purpose:</span>
                        <span class="fs-5 me-2">{{ currentPurposeName }}</span>
                        <i-tabler name="chevron-up"></i-tabler>
                    </button>
                    <div class="card options-panel position-absolute shadow-sm" *ngIf="optionsPanelOpened === 'right'">
                        <div class="card-body p-5">
                            <h3 class="mb-4" i18n>Purpose</h3>
                            <div class="options-panel-body">
                                <form action="" method="post">
                                    <div class="form-radio-button" *ngFor="let purpose of purposeList; index as index">
                                        <input type="radio" name="purpose" id="field-radio-purpose{{ index }}"
                                               [value]="purpose.name"
                                               [ngModel]="purpose$ | async"
                                               (click)="setOptions('purpose', purpose.name)">
                                        <label for="field-radio-purpose{{ index }}" i18n="">{{ purpose.title }}</label>
                                        <div class="check"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6 mb-3">

        <div class="card mb-3 shadow-sm rounded-0">
            <div class="card-body app-message-container">
                <ng-container *ngFor="let msg of messages$ | async">
                    <div [class.text-end]="msg.type === 'answer'">
                        <div class="card d-inline-block border-0 rounded-pill mb-3"
                             [ngClass]="{'bg-info round-0-top-right': msg.type === 'answer', 'bg-primary text-white round-0-top-left': msg.type === 'question'}">
                            <div class="card-body">
                                <div class="card-text">{{ msg.message }}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row g-2">
                <div class="col-10">
                    <input type="text" class="form-control shadow-sm" i18n-placeholder placeholder="Enter your message"
                           [disabled]="!(remotePeerConnectedState$ | async)"
                           (keyup)="onMessageFieldKeyUp($event)"
                           #messageField>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-info d-block w-100 px-0"
                            [disabled]="!(remotePeerConnectedState$ | async)"
                            (click)="sendMessage(messageField)" i18n>
                        Send
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="options-panel-backdrop" [ngClass]="{'active': optionsPanelOpened}" (click)="optionsPanelToggle('')"></div>
